[Unit]
Description=YouTube Downloader Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/youtube-bot
Environment="BOT_TOKEN=TU_TOKEN_AQUI"
ExecStart=/usr/bin/python3 /home/ubuntu/youtube-bot/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
